<ion-header class="ion-no-border">
    <div class="login-header ion-padding">
        <img class="logo-img" src="assets/img/avengers.png">
    </div>
</ion-header>
<ion-content class="ion-padding">
    <div class="registro">
        <div class="buttom-action">
            <ion-button routerLink="/login" fill="clear" color="dark" size="small">
                <b><p class="signin-text">Iniciar Sesión</p></b>
            </ion-button>
            <ion-button fill="clear" color="dark" size="small">
                <b><p class="signup-text">Registrarse</p></b>
            </ion-button>
        </div>
        <ion-item transparent>
            <ion-icon icon-small name="person-outline"></ion-icon>
            <ion-input [(ngModel)]="usuario.cedula" placeholder="Cédula" type="number"></ion-input>
        </ion-item>
        <ion-item transparent>
            <ion-icon icon-small name="person-outline"></ion-icon>
            <ion-input [(ngModel)]="usuario.nombres" placeholder="Nombres" type="text"></ion-input>
        </ion-item>
        <ion-item transparent>
            <ion-icon icon-small name="person-outline"></ion-icon>
            <ion-input [(ngModel)]="usuario.apellidos" placeholder="Apellidos" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Fecha de nacimiento</ion-label>
            <ion-input [(ngModel)]="usuario.fechaNac" type="date"></ion-input>
        </ion-item>
        <ion-item transparent>
            <ion-icon icon-small name="call-outline"></ion-icon>
            <ion-input [(ngModel)]="usuario.telefono" placeholder="Teléfono" type="number"></ion-input>
        </ion-item>
        <ion-item transparent>
            <ion-icon icon-small name="mail-outline"></ion-icon>
            <ion-input [(ngModel)]="usuario.email" placeholder="Email" type="email"></ion-input>
        </ion-item>
        <ion-item transparent>
            <ion-icon icon-small name="lock-closed-outline"></ion-icon>
            <ion-input [(ngModel)]="usuario.contrasena" placeholder="Contraseña" type="password"></ion-input>
        </ion-item>
        <div linespace></div>

        <ion-button (click)="registrar()" color="primary" class="ion-buttom-class" shape="round" fill="solid" size="large" expand="block">Registrarme</ion-button>
        <ion-label class="ion-text-center" routerLink="/login">Ya tengo una cuenta <span class="link-buttom"><strong>Iniciar Sesión</strong></span></ion-label>
    </div>
</ion-content>