<ion-header class="ion-no-border">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Producto</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="(producto | async) as producto">

    <ion-card>
        <img [src]="producto.url">
        <ion-card-header>
            <ion-card-title>{{producto.nombre}}</ion-card-title>
            <ion-card-subtitle>${{producto.precio}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            {{producto.descripcion}}
        </ion-card-content>
    </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="warning" (click)="anadir(producto)">
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>