.login-header {
    background: var(--ion-color-primary);
    height: 200px;
}

.login-header {
    position: relative;
    background: var(--ion-color-primary);
    border-radius: 0em;
}

.login-header:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: var(--ion-color-primary);
    border-bottom: 0;
    margin-left: -15px;
    margin-bottom: -15px;
}

.logo-img {
    display: block;
    width: 100px;
    margin: 50px auto;
    text-align: center;
}

.buttom-action {
    text-align: center;
}

.signup-text {
    font-size: small;
    color: #a8a8a8;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    text-transform: none;
}

.signin-text {
    font-size: small;
    font-weight: bold;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    text-transform: none;
}

ion-label {
    opacity: .8;
    font-size: 13px;
    display: block;
}

[transparent] {
    --background: transparent;
}

ion-input {
    --padding-bottom: 15px;
    --padding-top: 15px;
    --padding-start: 5px;
    font-size: 15px;
    text-indent: 1px;
    padding-left: 10px !important;
}

[icon-small] {
    width: 30px;
}

ion-item {
    --highlight-color-focused: transparent;
    --highlight-height: 0;
    --highlight-color-valid: #dddddd;
    --min-height: 65px;
    --padding-start: 0;
}

[linespace] {
    height: 30px;
}

.forget-password {
    font-size: 13px;
    display: block;
    text-align: right;
    padding: 10px;
}