<ion-header class="ion-no-border">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Carrito</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-label *ngIf="productos.length == 0">NO TIENES PRODUCTOS EN TU CARRITO</ion-label>
    <ion-list *ngIf="productos.length != 0">
        <ion-list-header>Mi carrito</ion-list-header>
        <ion-item *ngFor="let producto of productos">
            <img slot="start" [src]="producto.url" style="width: 50px;">
            <ion-label>
                <h2>{{producto.nombre}}</h2>
                <h3>$ {{producto.precio}}</h3>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Total: ${{total}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-button color="danger" (click)="vaciarCarrito()" class="ion-buttom-class" shape="round" fill="solid" size="large" expand="block">Vaciar carrito</ion-button>
        </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="primary" (click)="llamar()">
            <ion-icon expannd="block" name="call-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>