<ion-header class="ion-no-border">
    <ion-toolbar color="primary">
        <ion-title>Inicio</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="logout()">
                <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-list>
        <ion-list-header>Productos</ion-list-header>
        <ion-item *ngFor="let producto of productos">
            <img slot="start" [src]="producto.url" style="width: 50px;">
            <ion-label (click)="showProducto(producto.uid)">
                <h2>{{producto.nombre}}</h2>
                <h3>$ {{producto.precio}}</h3>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="primary" routerLink="/carrito-compras">
            <ion-icon name="cart-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>